@media only screen and (max-width: 480px){

    header{
        background-color: $gray;
        margin: 0;
        padding: 0rem;
        width: 100%;
        height: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .login{
            height: 36px;
            margin: 0px;
            padding: 0;
        }
        nav ul{
            font-family: $m;
            font-weight: 400;
            font-size: 6px;
            text-align: center;
            text-transform: uppercase;
            list-style-type: none;
            margin: 0;
            padding: 0 1rem;
        }
        .menu li{
            display: inline-block;
            text-align: center;
            padding: 0 0.4rem;
        }
        
        .menu li a{
                text-decoration: none;
                color: $gr;
                font-size: 0.9rem;
        }
        
        .menu li a:active{
            color: $nar;
            text-decoration: underline;
            font-family: $m;
            font-weight: 600;
        }
    }

    .logo{
        height: 55px;
        margin: 0;
        padding: 0;
    }
    

    
    .wa{
        height: 60px;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
    
   
    
    h1{
        font-family: sackersgothicstd-heavy;
        src: url(../assets/types/sackersgothicstd-heavy.otf);
        text-transform: uppercase;
        text-align: center;
        color: $w;
        font-size: 2.5rem;
    }

    h2{
        font-family: SackersGothicStd-Medium;
        src: url(../assets/types/SackersGothicStd-Medium.otf);
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        color: $nar;
        margin: 0;
        padding-bottom: 0.5rem;
    }
    
    h3{
        font-family: $m;
        font-weight:500;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: underline;
        color: $gr;
        text-align: center;
        margin: 0;
    }
    
    h4{
        font-family: sackersgothicstd-heavy;
        src: url(../assets/types/sackersgothicstd-heavy.otf);
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        color: $purp;
    }
    
    h5{ 
        font-family: SackersGothicStd-Light;
        src: url(../assets/types/SackersGothicStd-Light.otf);
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        color: $purp;
        line-height: 2.3rem;
    }

    p{
        font-family: $m;
        font-weight: 300;
        font-size: 1rem;
        text-align: center;
        color: $gr;
        margin: 0;
    }
    
    a{
        font-family: $m;
        font-weight: 400;
        font-size: 1rem;
        color: $purp;
        text-align: center;
        text-decoration: none;
    }
    
    .nombres {
        font-family: $m;
        font-weight: 400;
        font-size: 1.2rem;
        text-transform: uppercase;
        color:$nar;
        padding-top: 0.5rem;
    }
    
    .quote{
        font-family: $m;
        font-weight: 400;
        font-style: italic;
        color: $purp; 
        font-size: 1.1rem;
        margin: 10px 0;
        padding-top: 1rem;
    }
    
    .cta{
        background-color: $purp;
        width: 350px;
        height: 60px;
        padding: 15px 60px;
        border-radius: 100px;
        text-decoration: none;
        color: $w;
        font-family:  $m;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .cta:active{
        background-color: $nar;
        font-family: $m;
        font-weight: 600;
        color: $w;
    }

    section{
        margin: 0;
        display: flex;
    }

    .section1{
    background-image: url(../assets/home/home_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .section2{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        flex-wrap: wrap;
     }
     
     .sec2Div{
         display: flex;
         flex-direction: column;
         padding: 0 0 1rem 0;
         justify-content: center;
         align-items: center;
     }
     
     .sec2img{
         width: 180px;
         padding-bottom: 0.6rem;
     }
     
     .sec2h3{
         text-decoration: none;
     }

     .section3{
        background-image: url(../assets/home/home_banner2.jpg);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .section3art{
        width: 90%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        background-color: #ffffffbd;
        text-align: center;
    }

    .section4{
        padding: 1.5rem 1rem;
        flex-direction: column;
        align-items: center;
        line-height: 2rem;
    }

    .section5{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        flex-wrap: wrap;
    }
    
    .section5img{
        width: 200px;
    }
    
    .section5div{
        display: flex;
         flex-direction: column;
         padding: 0 0 1rem 0;
         justify-content: center;
         align-items: center;
    }

    .section6{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "tit"
        "b";
        align-items: center;
        padding: 0 1rem;
        margin-bottom: 1.5rem ;
      }
     
      .tit{
         grid-area: tit;
         padding: 0;
         margin: 0;
      }
     
     .b{
         grid-area: b;
         align-items: center;
     }
     
     .aImg{
        display: none;
     }
     
     .section6h3{
         text-align: center;
         padding: 1.5rem 0;
     }


     .clubSection1{
        background-image: url(../assets/club/Banner_ClubCulinario.jpg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        height: 380px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .clubSection1h1{
        color: $nar;
        padding:0 1rem;
        margin: 0;
    }
    
    .clubSection1p{
        font-size: 0.8rem;
        color: $purp;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 1rem 3rem;
    }

    .clubSection2{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0 0 0;
     }
    
    .clubSection2img{
       display: none;
    }
    
    .clubSection2art{
        padding: 1rem;
    }

    .clubSection2art p{
        line-height: 1.4rem;
    }

    .clubSection2art h5{
        font-size: 1rem;
        display: inline-block;
        padding: 0 2rem;
        
    }

    .clubSection2art br{
        line-height: 0.5rem;
    }

    .clubSection2art h2{
        padding: 0 2rem 1rem 2rem;
    }
    
     .clubSectionVideoImg{
        display: none;
     }

     .clubSection3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1.5rem 0;
    }

    .clubSection3 h2 {
        padding-bottom: 1rem;
    }

    .clubSection3 div{
        padding: 1rem 0;
    }
    
    .clubSection3img{
        width: 200px;
        padding-bottom: 0.3rem;
    }
    
    .temas{
        color: $purp;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .clubSection4{
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr;
        grid-template-areas: 
        "club";
        margin: 2rem;
        align-items: center;
    }
    
    
    .club{
        grid-area: club;
        display: flex;
        flex-direction: column;
    }
    
    .clubGridTit1{
        font-family: SackersGothicStd-Light;
        src: url(../assets/types/SackersGothicStd-Light.otf);
        text-transform: uppercase;
        color: $gr;
        font-size: 1.5rem;
        text-align: center;
        padding: 0;
    }
    
    .clubGridTit2{
        font-family: $m;
        font-weight: 200;
        text-transform: uppercase;
        color: $gr;
        font-size: 1.3rem;
        text-align: center;
        padding: 0.8rem 0;
    }
    
    .clubSection4div{
        display: flex;
        flex-direction: row;
        margin: 1rem;
        justify-content: space-between;
        align-items: center;
    }
    
    .clubSection4divh3{
        color: $nar;
        text-decoration: none;
        text-align: left;
        margin: 1rem;
        letter-spacing: 4px;
        font-weight: 500;
    }
    
    .clubSection4divp{
        text-align: left;
        margin: 0 0 0 2rem;
        line-height: 1.5rem;
    
    }
    
    .clubSection4ima{
        display: none;
    }
    
    .clubSection4icon{
        height: 60px;
    }

    .cursosSection1{
        background-image: url(../assets/cursos/Banner_cursos.png);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        height: 380px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .cursosSection1h1{
        color: $nar;
        padding:0 1rem;
        margin: 0;
    }
    
    .cursosSection1p{
        font-size: 0.8rem;
        color: $purp;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 2rem 3rem;
    }
}